@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
body{
	font-family: 'Nunito', sans-serif;
}
.top-header {
    background: #033d63;
    padding: 10px;
}
a:hover{
	text-decoration: none!important;	
}
a{
	font-family: 'Nunito', sans-serif;
}
ul, h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
li{
	list-style:none;
	font-family: 'Nunito', sans-serif;
}
/* menu*/
.logo img {
    padding: 0px 0;
}
.nav-text a {
    color: #fff;
    text-decoration: none;
}
.nav-text .dropdown a {
    color: #fff;
    text-decoration: none;
}
.nav-text .dropdown a i {
    color: #78bf5a;
    text-decoration: none;
}
.nav-text a:hover {
    color: #fff;
    text-decoration: none;
}
.nav-text ul {
	margin:0;
}
.nav-text li {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    margin: 0 10px;
}
dropdown:hover>.dropdown-menu{
    display:block;
    background:rgba(0, 0, 0, 0.96);
    right:-255px;
    left:inherit;
    padding:0
}
nav .dropdown button{
    font-size:18px;
    border:none;
    padding:0 0 40px 0;
    background:transparent;
    font-weight:500
}
nav .dropdown button:after{
    display:none
}

.mobile_arrow{
    display:none
}
.nav-item a.nav-link {
    padding: 30px 15px !important;
    font-weight: 600;
    font-size: 16px;
	color: #0872ba;
    font-family: 'Nunito', sans-serif;
}
/*Nov-8*/
.top-header .nav-text .dropdown .dropdown-menu a:hover {
    color: #fff !important;
    text-decoration: none;
    background: #58b7f7;
}
.top-header .dropdown-menu {
    background-color: #0d9dfe !important;
}
/*Nov-8*/
.sub_menu_main.dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .88);
    top: 84px;
    margin: 0;
    padding: 15px 0;
    width: 238px;
    left: 0;
    z-index: 999;
    border-radius: 0;
}
.navbar-light .navbar-nav .nav-item a {
    margin: 0 0 0 40px;
    font-family: 'Nunito', sans-serif;
    border-bottom: 4px solid transparent;
    font-weight: 600;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-item:hover .sub_menu_main li a{
    border-bottom:none
}
.sub_menu_main li a{
    font-size:14px;
    margin:0!important;
    padding:2px 15px;
    display:block;
    color:#fff;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
    border-right:3px solid transparent
}
.sub_menu_main li{
    margin:0 0 10px 0
}
.sub_menu_main li:last-child{
    margin:0 0 0 0
}
.sub_menu_main li a:hover{
    text-decoration:none;
    color:#0d9dfe;
}
.navbar-light .navbar-nav .nav-item a.nav-link{
    padding:36px 0
}
body .nopadding{
    padding:0
}
#style-7::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-7::-webkit-scrollbar-thumb {
	background: rgba(1,152,252,1);
	background: -moz-linear-gradient(45deg, rgba(1,152,252,1) 0%, rgba(41,184,229,1) 0%, rgba(19,44,209,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(1,152,252,1)), color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(19,44,209,1)));
	background: -webkit-linear-gradient(45deg, rgba(1,152,252,1) 0%, rgba(41,184,229,1) 0%, rgba(19,44,209,1) 100%);
	background: -o-linear-gradient(45deg, rgba(1,152,252,1) 0%, rgba(41,184,229,1) 0%, rgba(19,44,209,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(1,152,252,1) 0%, rgba(41,184,229,1) 0%, rgba(19,44,209,1) 100%);
	background: linear-gradient(45deg, rgba(1,152,252,1) 0%, rgba(41,184,229,1) 0%, rgba(19,44,209,1) 100%);
}
#style-7::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
.scroll-bar {
	height: 300px;
	background: rgba(0, 0, 0, .88);
	overflow-y: scroll;
	margin-bottom: 25px;
}
.select-policy .date span.input-group-addon.add-on {
    background: #efefef;
    padding: 5px 7px;
    border: 1px solid #ced4da;
}
.force-overflow {
	min-height: 450px;
}
.navbar-light .navbar-nav .nav-item{
    position:relative
}
.nav-item:hover .sub_menu_main{
    display:block
}
/* menu*/
/* banner*/
section.health-cover {
    background: url(../images/banner-bg.jpg)no-repeat scroll;
    padding: 150px 0;
	background-size: cover;
}
.health-cover .container {
    padding: 0;
}
.select-plan {
    background: #fff;
    padding: 30px 0px;
}
.banner-text h1 {
    color: #033d63;
    font-size: 60px;
    font-weight: 800;
	font-family: 'Nunito', sans-serif;
}
.banner-text.inner-banner-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}
.banner-text.inner-banner-text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
	margin-bottom: 0 !important;
    font-family: 'Nunito', sans-serif;
}
.banner-text p {
    color: #033d63;
    font-size: 20px;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
}
.banner-text {
    margin-bottom: 20px;
}
.institute-finder-form .form-control {
    border-radius: 0;
    height: 37px;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
	color: #000;
}
.form-control+.input-group-addon:not(:first-child) {
    border-left: 0;
    border-radius: 0;
}
.institute-finder-form button.btn.institute-btn {
	background: rgba(129,200,99,1);
	background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
	background: -webkit-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	background: -o-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	background: -ms-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	background: linear-gradient(to bottom, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	border-style :none;
	border-radius :0;
	padding :10px 20px;
	font-weight :600 !important;
	font-size:18px;
	margin :10px 0 0;
	cursor:  pointer;
	font-family: 'Nunito', sans-serif;
}
/* banner*/
.insurance-features a {
    background: #e0e0e0;
    margin: 0 0;
    padding: 3px 6px;
    color: #333;
    border-radius: 2px;
    display: inline-block;
}
.info-table-div .info-table {
    position: absolute;
    display: none;
    background: #fff;
    width: 320px;
    z-index: 999;
    -webkit-box-shadow: 5px 7px 15px 0 #c7c7c7;
    box-shadow: 1px 1px 15px -3px #b4b7b9;
    padding: 10px 6px;
    border: 1px solid #c3c3c3;
    font-size: 12px;
    text-align: left;
    width: 305px;
}
.info-table-div:hover .info-table {
    display: block;
}
.info-table-div {
    text-align: left;
}
.info-table li {
    list-style: circle inside;
    font-family: 'Nunito', sans-serif;
}
.info-table th, td {  
	border: 1px solid #ccc;
    padding: 5px;
}
section.why-text p {
    font-size: 18px;
	font-family: 'Nunito', sans-serif;
}
.why-text h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
	font-weight: 800;
}
section.why-text {
    padding: 50px 0;
}
section.why-text p {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}
.visa-type .col-xl-3 {
    padding: 0;
}
.visa-text-box {
    background: #0873bb;
}
.visa-text-box p{
    color: #fff;
	text-align: justify;
}
.visa-text-box h5{
    color: #fff;
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}
.visa-text-box {
    padding: 0 50px !important;
}
.visa-types {
	padding: 30px 0;
}
.visas-text-box {
    padding: 0 50px 0 30px !important;
}
.visas-text-box p{
    color: #000;
	text-align: justify;
}
.visas-text-box h5{
    color: #000;
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}
/* Just centering the examples */
.choose-text.media-body {
    padding: 0px 60px 0 40px;
}
.choose-text h5 {
    font-size: 18px;
    font-weight: 700;
	font-family: 'Nunito', sans-serif;
}
.media.why-content {
    padding: 20px 0 0;
}
.why-us h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.why-heading h6 {
    font-size: 18px;
	font-weight: 600;
}
.why-heading p {
    font-size: 16px;
}
section.why-us {
    background: url(../images/why-bg.jpg)no-repeat scroll;
    padding: 40px 0 30px;
	background-size: cover;
}
section.faq {
    background: url(../images/faq-bg.jpg)no-repeat scroll;
    background-size: cover;
}
.faq-text {
    padding: 30px 70px !important;
}
.faq-image {
    padding: 30px 70px !important;
}
.faq-text h2 {
    width: 100%;
    color: #01224c;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-bottom: 24px;
}
.faq-text p span {
    color: #01224c;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 700;
}
.why-heading h6 span {
    color: #0873bb;
}
.faq-text p {
    color: #000;
	text-align:justify;
	font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
section.footer {
    background: #0673ba;
    padding: 30px 0px;
}
.footer h4 {
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
.footer ul.number li span {
    display: inline-block;
    color: #5fac3f;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	margin: 0 15px 0 0px;
}
.footer ul.number li {
    display: inline-block;
    color: #fff;
	font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 0 20px;
}
.footer ul.social-link li {
    display: inline-block;
}
.footer-box li a:hover  {
	color: #ffd819 !important;
}
.footer-box {
    background: #0a5a99;
    border: 5px solid #fffcff;
    height: 100%;
    padding: 30px 44px;
}
.social-icon {
    margin-top: 10px;
}
.social-link a i {
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.footer-email-phone i {
    margin: 0 10px 0 0px;
}
.footer-email-phone ul {
    margin: 0;
}
.associated-apg h5 {
    width: 100%;
    color: #fff;
    font-size: 16px;
}
/* .social-icon {
    margin-top: 15px;
} */
.social-link a {
    color: #031624;
    font-family: 'Nunito', sans-serif;
    margin: 0px 10px 0 0 !important;
}
.footer p small {
    font-size: 13px;
    color: #fff;
	font-family: 'Nunito', sans-serif;
}
.footer p {
	margin: 0 auto;
	line-height: 20px;
	width: 90%;
	font-family: 'Nunito', sans-serif;
}
.footer-disclamer.text-center {
    margin-top: 30px;
}
.footer-policy-link p a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    margin: 0 7px;
}
.footer-policy-link p a:hover {
    color: #76bb08;
}
.footer ul.social-link li a i:hover {
    color: #ffd819 !important;
}
.footer ul.number {
    margin-top: 30px;
}
section.copyright {
    background: #01224c;
    padding: 15px;
}
section.copyright p{
    color: #fff;
	text-align:center;
	font-size: 13px;
	margin-bottom:0;
	font-family: 'Nunito', sans-serif;
}
.footer-policy-link p {
    text-align: left !important;
}
.footer-copyright-text p{
	text-align: right !important;
}
/*login-page*/
.login-page {
	background: url(../images/login-bg.jpg) scroll no-repeat;
	background-size: cover;
}
.select-location-box {
    text-align: left;
}
section.thankyou-page {
    background: url(../images/login-bg.jpg) scroll no-repeat;
	padding: 50px 0;
	background-size: cover;
}
.thankyou-page h6 {
    font-size: 48px;
    text-align: center;
    font-weight: 800;
	margin-top: 20px;
}
.thankyou-content {
    text-align: center;	
}
.login-btn:hover {
	color: #fff;
    width: 100%;
	cursor: pointer;
	border-style:none !important;
    border-radius: 0 !important;
    background: rgba(129,200,99,1);
    background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
    background: -webkit-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -o-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: linear-gradient(to bottom, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
}
.login-btn {
    color: #fff !important;
    width: 100%;
	cursor: pointer;
	border-style:none !important;
    border-radius: 0 !important;
    background: rgba(129,200,99,1);
    background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
    background: -webkit-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -o-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: linear-gradient(to bottom, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
	margin-bottom: 30px;
}
.login-bg{
	background:#fff;
	border: 1px solid #efefef;
	padding: 50px 0;
}
.login-page{
	padding: 50px 0;
}
.login-page img{
	margin:0 0 10px;	
}
.select-location-box .custom-control-indicator {
    top: 4px;
    width: 12px;
	font-family: 'Nunito', sans-serif;
    height: 12px;
}
.select-location-box .custom-checkbox .custom-control-indicator {
    border-radius: 2px;
	font-family: 'Nunito', sans-serif;
}
.login-form .form-group input {
    font-family: 'Nunito', sans-serif;
	border-radius: 0;
    height: 37px;
    background: #fff;
    font-family: 'Nunito', sans-serif;
	font-size: 13px;
    font-weight: 600;
	height: calc(2.25rem + 2px);
}
.login-form .form-group textarea {
    font-family: 'Nunito', sans-serif;
	border-radius: 0px;
    border: 1px solid #ced4da;
    background: #fff;
    font-family: 'Nunito', sans-serif;
	font-size: 13px;
    font-weight: 600;
}
.inner {
    width: 70%;
    height: 1px;
    margin: 15px auto;
    border-bottom: 1px solid #858383;
}
.forget-password a {
    text-decoration: underline;
    color: #757677;
	font-size: 12px;
	margin-bottom:0px !Important;
	font-family: 'Nunito', sans-serif;
}
.forgt-txt p {
    color: #757677;
	font-family: 'Nunito', sans-serif;
    font-size: 12px;
}
.forget-password a:hover {
    text-decoration: underline;
    color: #757677;
	font-size: 12px;
}
.select-location-box label.custom-control.custom-checkbox {
    font-size: 14px;
    color: #757677;
	font-family: 'Nunito', sans-serif;
}
.login-form.reg-form h4{
	margin: 0 0 0px !important;
}	
.login-form h4{
	font-size: 22px;
	font-weight:600;
	margin: 0 0 20px;
	font-family: 'Nunito', sans-serif;
}
.login-bg h4{
	font-size: 22px;
	font-weight:600;
	margin: 0 0 20px;
	font-family: 'Nunito', sans-serif;
}
/*login-page*/
/*485-visa*/
.getting-visa {
    width: 100%;
}
.getting-visa h5{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}
.getting-visa button{
	cursor:  pointer;
	background: rgba(129,200,99,1);
    background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
    background: -webkit-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
    background: -o-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
    background: -ms-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
	background: linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%) !important	;
    border-style: none;
    border-radius: 0;
    padding: 7px 10px !important;
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600 !important;
}
.getting-visa a{
	cursor:  pointer;
	background: rgba(129,200,99,1);
    background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
    background: -webkit-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
    background: -o-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
    background: -ms-linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%);
	background: linear-gradient(to bottom, rgb(12, 156, 253) 0%, rgb(11, 32, 113) 100%) !important	;
    border-style: none;
    border-radius: 0;
    padding: 7px 10px !important;
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600 !important;
}
/*485-visa*/
/*Get-quote-page*/
.get-quote-banner {
    background: #0873bb;
    padding: 70px 0;
}
.get-quote-blog li a {
    color: #000;
    cursor: default;
}
.get-quote-blog ul{
	margin: 0 auto;
    text-align: center;
}
.quote-block{
	padding:50px 0;
}
.get-quote-blog li {   
    list-style: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    background: #efefef;
    padding: 10px 20px;
}
.get-quote-blog li.quote-active a{
	color:#fff;
}
.get-quote-blog li.quote-active {
    background: #0873bb;
}
.quote-submit-btn .quote-btn {
	background: rgba(129,200,99,1);
    background: -moz-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,200,99,1)), color-stop(100%, rgba(66,134,37,1)));
    background: -webkit-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -o-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    background: linear-gradient(to bottom, rgba(129,200,99,1) 0%, rgba(66,134,37,1) 100%);
    border-style: none;
    border-radius: 0;
    padding: 10px 20px;
    font-weight: 600 !important;
    font-size: 18px;
    margin: 10px 0 0;
    cursor: pointer;
	border-color: #509533;
    font-family: 'Nunito', sans-serif;
}
.quote-block h4 {
    background: #0873bb;
    font-size: 18px;
    padding: 10px 15px;
    color: #fff;
	font-family: 'Nunito', sans-serif;
}
.quote-main-block {
/*     padding: 15px 7.4% 0 !important;
	display: contents; */
}
.quote-form-section h4 a {
    color: #fff;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
form.quote-form-section {
    background: #fbfbfb;
}
.disclaimer-text p {
    margin-top: 0;
    color: #000;
    margin-bottom: 2px;
    font-size: 14px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(251, 251, 251) !important;
}
.margin-b {
    margin-top: 20px;
}
.margin-b select.form-control {
    border-radius: 0;
	font-family: 'Nunito', sans-serif;
}
.margin-b input.form-control {
    border-radius: 0;
    font-family: 'Nunito', sans-serif;
    color: #000;
}
.margin-b .form-check .form-check-input {
    
}
.margin-b .form-group label.col-form-label {
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
    color: #000;
}
/*Get-quote-page*/
/*provide-detail-page*/
.green-block {
    background: #14952b;
}
.blue-block {
    background: #00adef;
}
.insurance-features img {
    margin: 0 auto;
}
.insurance-features h5 {
    margin: 10px auto;
    width: 100%;
    color: #fff;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.insurance-features h6 {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    color: #fff;
}
.insurance-features a.buy-btn {
    margin: 10px auto;
    padding: 7px 20px;
    font-weight: 600;
    background: #fff;
	font-family: 'Nunito', sans-serif;
    box-shadow: none;
    border-style: none;
    cursor: pointer;
}
.apg-gray-box .insurance-features h6 {
    font-size: 13px;
}
.apg-gray-box .insurance-features h5 {
    margin: 4px auto;
}
.green-block a.buy-btn {
    color: #14952b;
}
.blue-block a.buy-btn {
    color: #00adef;
	font-family: 'Nunito', sans-serif;
}
.insurance-features {
    text-align: center;
    margin: 0 auto!important;
}
.insurance-box {
    text-align: center;
    margin: 0 auto!important;
}
.main-tag th.main-key {
    background: #0873bb;
    color: #fff;
	font-weight: 600;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}
.gray-box {
    background: #eeeeee;
}
.apg-gray-box {
    background: #a12643;
}
.gray-box .insurance-box h5 {
    color: #505251;
    width: 100%;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.gray-box .insurance-box h6 {
    color: #505251;
	font-size: 13px;
    font-weight: 600;
	text-align:left;
	font-family: 'Nunito', sans-serif;
}
.insurance-features table {
    text-align: center;
    margin: 0 auto;
}
.policy-table-block tr th{
	font-family: 'Nunito', sans-serif;
	width: 120px;
	font-weight: normal;
    text-align: center;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
    color: #505251;
	text-align: center;
}
.policy-table-block tr td.white-box {
    background: #fff !important;
    font-size: 14px !important;
    font-weight: 500;
}
.policy-table-block tr.main-tag td {
    background: #fff;
}
.policy-table-block tr.gray-blog td {
    background: #eeeeee;
	padding: 5px 2px;
	vertical-align: middle;
	font-size: 13px;
	width: 270px;
}
.compare-block .getting-visa p {
    font-size: 14px;
    margin: 3px 0 0;
}
.policy-table-block .table-bordered td, .table-bordered th {
    border: 1px solid #c9c9c9;
}
.form-control::-webkit-input-placeholder { /* Edge */
  color: #000 !important;
}
.form-control:-ms-input-placeholder { /* Internet Explorer */
  color: #000 !important;
}
.form-control::placeholder {
    color: #000 !important;
}
.insurance-box button {
	margin: 10px auto;
    padding: 7px 20px;
    font-weight: 600;
    background: #0873bb;
    font-family: 'Nunito', sans-serif;
    box-shadow: none;
    border-style: none;
	color: #fff;
    cursor: pointer;
}
.gray-blog td a.buy-btn {
    margin: 10px auto;
    padding: 4px 16px;
    font-weight: 600;
    background: #0873bb;
    font-family: 'Nunito', sans-serif;
    box-shadow: none;
    border-style: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
div.popper-div:focus {
    box-shadow: none !important;
    /* border-style: none !important; */    /* border: 0px !important; */
    outline: crimson;
}
/*provide-detail-page*/
.email-quote-popup .modal-header {
    background: #007bff;
}
.email-quote-popup .modal-title {
    color: #fff;
}
.policy-summary.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
    color: #505251;
	text-align: left;
}
.quote-main-block h4 a {
	color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
/*provide-detail-page*/
/*payment-page*/
#pay-invoice.card .form-group {
    text-align: left;
}
.payment-options a {
    color: #000;
}
.credit-payment-method h5 {
    text-align: left;
	color: #000;
    font-family: 'Nunito', sans-serif;
}
/*485 visa 19 Mar*/
.visa-types.banner-text p {
    color: #fff;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}
.visa-types h6 {
    width: 100%;
    color: #0773bc;
    font-weight: 800;
    font-size: 22px;
	margin-bottom :10px;
    text-transform: uppercase;
}
.inner-page-content {
    background: #0873bb;
    padding: 50px 25px;
}
.inner-page-text{
	padding: 50px 0;
}
.inner-page-text h5{
	font-size: 30px;
    font-family: Nunito, sans-serif;
    color: #000;
    font-weight: 700;	
	text-align:center;
}
.inner-page-text p{
	font-size: 18px;
    font-family: Nunito, sans-serif;
    color: #5f6264;
	margin:0 auto;
	width: 70%;
	text-align:center;
}
.inner-page-content h5{
	font-size: 30px;
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 700;	
	text-align:center;
}
.inner-page-content p{
	font-size: 18px;
    font-family: Nunito, sans-serif;
    color: #fff;
	text-align: center;
}
.inner-pages-section{
	background: url(../images/visa-type-bg.jpg)no-repeat scroll;
	padding :50px 0;
	background-size: cover;
}
.institute-finder-form p {
    text-align: center;
    width: 100%;
	color: #5f6264;
	margin: 15px 0 0;
	font-size: 14px;
}
.text-headings-link a.btn.btn-info {
    padding: 1px 8px;
}
.policy-application-btn button {
    margin: 0 0 20px !important;
}
.info-table ul {
    margin: 0;
}
.visa-type-from p span {
    font-size: 14px;
}
.info-table-div p {
    color: #000;
    margin: 8px 5px 0 !important;
    font-size: 14px;
    display: inline;
}
/*485 visa 19 Mar*/
/*12 Apr*/
.disclam  {
    text-align: right;
}
.disclam a.pdf-download-top:hover .info-table {
    display: block;
}
.disclam .info-table {
    position: absolute;
    display: none;
    background: #fff;
    width: 320px;
    z-index: 999;
    -webkit-box-shadow: 5px 7px 15px 0 #c7c7c7;
    box-shadow: 1px 1px 15px -3px #b4b7b9;
    padding: 10px 6px;
    border: 1px solid #c3c3c3;
    font-size: 12px;
    text-align: left;
    right: 0;
}
/*12 Apr*/
/* bupa-page 18june*/
section.health-cover.bupa-banner{
	background: url(../images/bupa-banner.jpg)no-repeat scroll;
	padding: 100px 0
}
section.health-cover.nib-banner{
	background: url(../images/bupa-banner.jpg)no-repeat scroll;
	padding: 100px 0
}
.bupa-banner .banner-text h1 {
    color: #004890;
    font-size: 50px;
    line-height: 50px;
	 margin-top: 20px;
}
.tag-line p {
    text-align: center;
    margin: 20px 0 0;
    color: #fff;
    font-size: 20px;
}
.inner-why-us{
	background: #fff !Important;
}
.bupa-banner .banner-text p {
    color: #000;
}
section.tag-line {
    background: #0873bb;
    padding: 40px;
}
section.tag-line h4{
	font-size: 36px;
	color: #fff;
	width: 60%;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
}
.inner-why-us .why-content {
    text-align: center;
}
.inner-why-us .why-content img {
    margin-bottom: 24px;
}
.inner-why-us .choose-text.media-body {
    width: 80%;
    margin: 0 auto;
	padding:0;
}
.inner-why-us .why-heading p {
    width: 45%;
    margin: 0 auto 40px;
    font-size: 18px;
}
.blue-row {
    display: flex;
    background: #0873bb;
	padding: 10px 0;
}
.blue-row .text-headings-link a:hover {
	text-decoration: underline !important;
}
.blue-row .text-headings-link a {
    float: right;
    color: #fff;
	text-decoration: underline;
}
.quote-block h4 {
    margin: 0;
	padding: 0 15px;
}
/* bupa-page 18june*/
/* bupa-page 25june*/
.blue-row {
    display: flex;
    background: #0873bb;
    padding: 10px 0;
}
.quote-block h4 {
    background: #0873bb;
    font-size: 18px;
    padding: 0px 15px;
    color: #fff;
	margin: 0;
    font-family: 'Nunito', sans-serif;
}
.blue-row .text-headings-link a {
    float: right;
    color: #fff;
    text-decoration: underline;
}
header.logo-block {
    box-shadow: 0px 2px 3px #efefef;
}
.g-bg {
    background: #fbfbfb;
    padding: 15px 15px;
}
.inner-page-text h5 {
    font-size: 18px;
}
.visa-image-box {
    padding: 0 !Important;
}
/* bupa-page 25june*/
/* remember password 26june*/
.select-location-box .form-check label.form-check-label {
    font-size: 14px;
    color: #000;
} 
.form-group select {
    font-size: 14px;
    color: #000;
    border-radius: 0;
}
/* remember password 26june*/
/* agent-agreement 2 july*/
.agent-agreement p {
    width: 60%;
    font-size: 20px;
    margin: 0 auto 20px;
}
form.upd-file {
    background: #fff0;
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    border: 3px solid #69bd45;
}
.upd-file input {
    background: #0872ba;
    padding: 16px 10px;
    color: #fff;
    font-family: Nunito, sans-serif;
    border-style: none;
}
.thankyou-content.agent-agreement {
    padding: 60px 0;
}
.upd-file input[type="submit"] {
    padding: 17px;
	font-family: Nunito, sans-serif;
    text-transform: uppercase;
	font-size: 18px;
}
.upd-file button {
    padding: 18px;
    text-transform: uppercase;
	font-size: 18px;
	background: #0872ba;
    color: #fff;
    font-family: Nunito, sans-serif;
    border-style: none;
}
/*dependent-del-btn*/
.dependent-del-btn button {
    float: right;
    margin: 10px 0 0px;
}
.form-inline select.form-control {
    width: 100%;
}
.form-group .date {
    width: 100%;
}
/*dependent-del-btn*/
/*17-July-2019 compare-visa*/
.select-policy.policy-div .date {
    width: 100%;
}
/*17-July-2019 compare-visa*/
/*28 Oct payment-success*/
header.logo-block {
    box-shadow: 1px 2px 3px #efefef;
}
.success-payment-text p {
    margin: 0;
    color: #3f8222;
    font-size: 18px;
    font-weight: 700;
}
.success-payment-icon a.float-right {
    color: #007bff;
}
.oshc-success-image {
    text-align: center;
    margin: 0 0 20px;
}
.oshc-failed-image {
    border: 1px solid #ce6e6e;
    background: #efefef;
    padding: 20px;
}
.oshc-failed-image img {
    margin-bottom: 15px;
}
.oshc-failed-image h5 {
    font-size: 24px;
    font-weight: 600;
} 
.oshc-failed-image p {
    margin: 0;
    font-size: 18px;
}
.oshc-failed-image small {
    margin: 0;
    color: #e30000;
    font-weight: 600;
    font-size: 14px;
}
section.quote-block.oshc-payment-failed-sec {
    padding: 105px 0;
}
/*28 Oct payment-success*/
/*8 Nov privacy-policy*/
.privacy-policy  {
}
.privacy-policy h5 {
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
}
.privacy-policy h6 {
    font-size: 20px;
    text-align: left;
	font-weight: 600;
    margin-top: 20px;
}
.privacy-policy h4 {
    font-size: 32px;
	font-weight: 800;
	text-align: left;
}
.privacy-policy p {
    text-align: left;
    width: 100%;
    color: #5f6264;
    margin: 0 0 5px;
}
.privacy-policy span {
    font-weight: 700;
    color: #000;
}
.privacy-policy li {
    text-align: left;
    font-size: 18px;
    font-family: Nunito, sans-serif;
    color: #5f6264;
    list-style: disc;
    margin-left: 40px;
}
.refund-policy li {
    text-align: left;
    font-size: 18px;
    font-family: Nunito, sans-serif;
    color: #5f6264;
    list-style: none;
    margin-left: 30px;
}
.refund-policy-contact-detail {
    margin-top: 10px;
}
.refund-policy-contact-detail p {
    margin: 0;
}
.refund-policy-contact-detail strong {
    color: #000;
}
/*8 Nov privacy-policy*/
/*404-page 25-Nov*/
.error-page-content p {
    margin: 30px 0 0;
    font-size: 32px;
    font-weight: 800;
}
/*404-page 25-Nov*/
/*multi-policy-page 25-Nov*/
.bupa-policy-box {
    background: #eeeeee;
    border-left: 2px solid #69bd45;
    padding: 20px;
    border-radius: 2px;
    width: 100%;
    box-shadow: 0 4px 6px #736f6f;
    display: table;
    margin: 0 0 25px 0;
}
.bupa-policy-box:hover {
    box-shadow: 2px 4px 10px #736f6f;
}
.bupa-policy-box .policy-icon.table-cell {
    text-align: left;
}
.bupa-policy-box .table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.policy-name a.email-quote {
    background: #01224c;
    margin: 0 0;
    padding: 3px 6px;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
}
.table-cell.policy-btn h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.table-cell.policy-btn button {
    margin: 10px auto;
    padding: 6px 16px;
    font-weight: 600;
    background: #509533;
    box-shadow: 0 4px 2px #bebdbd;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.policy-name h6 {
    font-size: 16px;
    font-weight: 700;
}
section.bupa-block {
    padding: 50px 0 30px;
}
.compare-block {
    background: #8bda69;
    text-align: center;
}
.home-visa-type-form-section {
    width: 70%;
    margin: 0 auto;
}
/*multi-policy-page 25-Nov*/
/*19-Dec-2019 logo*/
.logo .navbar-brand {
    margin-right: 0;
}
/*19-Dec-2019 logo*/
/*7-jan-2020 select-provider*/
.medibank-white-box {
    background: #ce1e19;
}
.allianz-box {
    background: #0873bb;
}
.policy-table-block table th {
    width: 270px !important;
    padding: 10px 2px;
}
.medibank-banner{
	background: url(../images/medibank-banner.jpg)no-repeat scroll !important;
	/* background-size : cover */
}
.allianz-banner{
	background: url(../images/allianz-banner.jpg)no-repeat scroll !important;
	/* background-size : cover */
}
/*7-jan-2020 select-provider*/
/*14-jan-2020 scroll-top*/
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 50%;
}
.scroll:hover {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
/*14-jan-2020 scroll-top*/
/*14-jan-2020 */
.sticky{
	position: fixed;
    width: 100%;
    top: 0px;
}
.sticky + .content {
  padding-top: 576px;
}
.apg-gray-box a.buy-btn {
    color: #a12643;
}
.medibank-white-box a.buy-btn {
    color: #ce1e19;
}
.allianz-box a.buy-btn {
    color: #0873bb;
}
.policy-accept-div {
    background: #efefef;
	border: 1px solid #a8a5a5;
    padding: 15px;
}
.policy-accept-div p {
    margin: 6px 0;
}
.footer-email-phone p {
    font-size: 24px;
}
.footer-email-phone a {
    color: #fff !important;
    font-size: 18px;
    margin: 0 28px 0 0;
}
.footer-email-phone span {
    font-size: 18px;
}
.request-call-back-side {
    position: fixed;
    top: 50%;
    right: 20px;
}
.request-call-icon img {
    width: 50px;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.select-provider-page-table {
    padding: 15px 7.4% 0 !important;
    display: contents;
}
.get-quote-blog {
    margin-bottom: 20px;
}
/*14-jan-2020 */
/*20-jan-2020 select provider*/
.policy-table-block tr.btn-blog-td td {
    padding: 10px 2px;
}
tr.gray-blog.btn-blog-td {
    display: none;
}
.ovhc-comparison-top-div img {
    text-align: center;
    margin: 0 auto;
}
/*20-jan-2020 select provider*/
/*20-jan-2020 ovhc-comparison-page*/
.gray-comparison-box {
    background: #c2c0c0;
    display: inline-block;
}
.gray-comparison-box .bupa-policy-box {
    margin: 15px 0 15px 0;
}
.gray-comparison-box .policy-name h6 {
    font-size: 20px;
    font-weight: 600;
}
.ovhc-comparison-top-div {
    padding: 10px;
    height: 25%;
}
section.bupa-block.ovhc-comparison-block {
    padding: 50px 5%;
}
/*20-jan-2020 ovhc-comparison-page*/
/*21-jan-2020 select-provider*/
.select-provider-page-table .policy-table-block {
    width: 100%;
    padding: 10px 7.4%;
}
.select-provider-page-table p {
    width: 86%;
}
.policy-accept-section {
	padding:  130px 0;
}
/*21-jan-2020 select-provider*/

@media(max-width:1700px){
	.home-visa-type-form-section {
		width: 90%;
		margin: 0 auto;
	}
}
@media(max-width:1450px){
	.home-visa-type-form-section {
		width: 90%;
		margin: 0 auto;
	}
	section.health-cover {
		background: #dedede;
	}
}
@media(max-width:1300px){
	.visa-text-box {
		padding: 3px 15px !important;
	}
	.visa-text-box p {
		color: #fff;
		text-align: justify;
		margin: 0;
	}
	/* 17-Jan-2020*/
	.home-visa-type-form-section {
		width: 95%;
		margin: 0 auto;
	}
	.faq-text {
		padding: 20px 15px !important;
	}
	/* 17-Jan-2020*/
}
@media(max-width:1200px){
	.visa-text-box {
		padding: 3px 15px !important;
	}
	.visa-text-box p {
		color: #fff;
		text-align: justify;
		margin: 0;
	}
	/*25june*/
	.visa-image-box {
		padding: 0 !Important;
	}
	.visa-types .banner-text p {
		font-size: 20px;
		margin: 0;
	}
	.banner-text h1 {
		font-size: 50px;
	}
	/*25june*/
	/* 25Nov home-page*/
	.home-visa-type-form-section {
		width: 98%;
		margin: 0 auto;
	}
	.getting-visa a {
		font-size: 14px;
	}
	.getting-visa h5 {
		font-size: 16px;
	}
	/* 25Nov home-page*/
	/* 17-Jan-2020*/
	.faq-text {
		padding: 20px 15px !important;
	}
	.banner-text.inner-banner-text h1 {
		font-size: 24px;
	}
	/* 17-Jan-2020*/
}
@media(max-width:1199px){
	/* 17-Jan-2020*/
	.footer-email-phone a {
		font-size: 16px;
		margin: 0px 16px 0 0;
	}
	.footer-box {
		padding: 20px;
	}
	.footer h4 {
		font-size: 18px;
	}
	.banner-text.inner-banner-text h1 {
		font-size: 24px;
	}
	/* 17-Jan-2020*/
	.visa-image-box img {
		width: 100%;
	}
	.visa-text-box h5 {
		font-size: 28px;
	}
	.visa-text-box p {
		font-size: 16px;
	}
	.visa-type .col-xl-3 {
		margin-bottom: 10px;
	}
	.banner-text h1 {
		font-size: 50px;
	}
	section.why-text p {
		width: 100%;
	}
	/* 25Nov home-page*/
	.home-visa-type-form-section {
		width: 95%;
		margin: 0 auto;
	}
	.getting-visa {
		margin: 10px 0;
	}
	/* 25Nov home-page*/
	
}
@media(max-width:1024px){
	/*17-jan-2020*/
	.banner-text.inner-banner-text h1 {
		font-size: 24px;
	}
	/*17-jan-2020*/
	.banner-text h1 {
		font-size: 40px;
	}
	section.health-cover {
		padding: 100px 0;
	}
	.visa-text-box {
		padding: 0 50px !important;
	}
	.visa-text-box h5 {
		font-size: 28px;
		margin: 0 0 2px;
	}
	.visa-text-box p {
		margin: 0;
		font-size: 18px;
	}
	.visa-image-box img {
		width: 100%;
	}
	.visa-type .col-xl-3 {
		padding: 0;
		margin-bottom: 10px;
	}
	.visas-text-box h5 {
		font-size: 28px;
	}
	/* 25June NIB page*/
	.bupa-banner .banner-text h1 {
		font-size: 30px;
		line-height: normal;
		margin-top: 20px;
	}
	section.tag-line h4 {
		font-size: 24px;
		color: #fff;
		width: 100%;
		font-weight: 700;
		margin: 0 auto;
		text-align: center;
	}
	.why-us h2 {
		font-family: 'Nunito', sans-serif;
		font-size: 24px;
		font-weight: 800;
	}
	.bupa-banner .banner-text p {
		color: #000;
		margin: 0;
		font-size: 18px;
	}
	p{
		font-size: 18px;
	}
	.inner-why-us .choose-text.media-body {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.footer h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.footer ul.number li span {
		font-size: 16px;
		margin: 0 15px 0 0px;
	}
	.faq-text h2 {
		width: 100%;
		font-size: 24px;
		margin-bottom: 15px;
	}
	
	/* 25June NIB page*/ 
}						

@media (max-width: 991px){
	/*20-jan-2020 select-provider*/
	tr.gray-blog.btn-blog-td {
		display: table-row;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.quote-block {
		padding: 30px 0;
	}
	/*20-jan-2020 select-provider*/
	/*17-jan-2020*/
	.footer-email-phone {
		margin-bottom: 10px;
	}
	.sticky {
		position: inherit;
	}
	.banner-text.inner-banner-text h1 {
		font-size: 24px;
	}
	.table thead th {
		white-space: nowrap;
	}
	/*17-jan-2020*/
	.privacy-policy h4 {
		font-size: 24px;
	}
	.privacy-policy h5 {
		font-size: 20px;
	}
	.privacy-policy li {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
	.logo button.navbar-toggler {
		float: right;
		margin-top: 7px;
	}
	.nav-text a {
		font-size: 14px;
	}
	.logo .navbar-toggler {
		float: right;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.banner-text h1 {
		font-size: 30px;
	}
	section.health-cover {
		padding: 60px 0;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	.logo a.navbar-brand img {
		width: 150px;
	}
	.visa-type .col-lg-3 {
		margin: 0 0 10px;
	}
	.col-lg-6.visas-image-box {
		margin: 0 auto;
		text-align: center;
	}
	.visas-text-box {
		padding: 0px 70px !important;
	}
	/* 25June NIB page*/
	.bupa-banner .banner-text h1 {
		font-size: 24px;
		line-height: 26px;
		margin-top: 20px;
	}
	section.health-cover.nib-banner {
		padding: 40px 0;
	}
	section.tag-line h4 {
		font-size: 24px;
		width: 80%;
	}
	.bupa-banner .banner-text p {
		color: #000;
		margin: 0;
		font-size: 18px;
	}
	.tag-line p {
		margin: 15px 0 0;
		font-size: 18px;
	}
	.inner-why-us .why-heading p {
		width: 100%;
		margin: 0 auto 30px;
		font-size: 18px;
		text-align: center;
	}
	.inner-page-text p {
		font-size: 16px;
	}
	.inner-page-content h5 {
		font-size: 18px;
	}
	.inner-page-content p {
		font-size: 16px;
	}
	.inner-page-image {
		margin-top: 15px;
	}
	.inner-pages-section {
		padding: 30px 0;
	}
	.inner-page-text {
		padding: 30px 0;
	}
	.inner-page-image {
		text-align: center;
	}
	.info-table-div {
		font-size: 16px;
	}
	.get-quote-banner {
		padding: 50px 0;
	}
	.visa-types .banner-text p {
		font-size: 18px;
		margin: 0;
	}
	/* 25June NIB page*/
	/* 25Nov home-page*/
	.getting-visa {
		margin: 20px 0;
		width: 100%;
	}
	.home-visa-type-form-section {
		width: 90%;
		margin: 0 auto;
	}
	/* 25Nov home-page*/
	
}

@media(max-width:767px){
	ul.menu-card.tick {
		width: 48.8%;
	}	
	.visa-image-box img {
		width: 100%;
	}
	section.why-text {
		padding: 30px 0;
	}
	.footer ul.social-link li {
		font-size: 20px;
		padding: 3px 0px;
		height: 34px;
		width: 34px;
	}
	.footer ul.number li span {
		font-size: 16px;
	}
	.nav-text a {
		font-size: 14px;
	}
	.logo .navbar-toggler {
		float: right;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.quote-block {
		padding: 30px 0;
	}
	.get-quote-blog li {
		padding: 10px 20px;
		margin: 0px 0 10px;
		width: 100%;
	}
	.policy-table-block tr th {
		width: 100% !important;
		text-align: center;
		white-space: nowrap;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.get-quote-banner {
		padding: 30px 0;
	}
	.blue-row {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text-headings-link {
		margin-top: 10px;
	}
	.text-headings-link a{
		float: inherit !important;
	}
	.margin-b select.form-control {
		border-radius: 0;
		font-family: 'Nunito', sans-serif;
		margin: 0 0 15px 0px;
	}
	/* home-page Banner*/
	.banner-text h1 {
		font-size: 24px;
	}
	section.health-cover {
		padding: 30px 0;
	}
	.getting-visa {
		margin: 20px 0; 
		width: 100%;
	}
	.institute-finder-form button.btn.institute-btn {
		padding: 6px 15px;
		font-size: 14px;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	.logo a.navbar-brand img {
		width: 150px;
	}
	.visa-type .col-lg-3 {
		margin: 0 0 10px;
	}
	/* 25June NIB page*/
	.banner-text img {
		width: 70px;
	}
	section.health-cover.nib-banner {
		padding: 30px 0;
	}
	/* bupa-page 25-June*/
	.bupa-banner .banner-text p {
		font-size: 14px;
	}
	section.tag-line {
		padding: 40px 0;
	}
	section.tag-line h4 {
		font-size: 18px;
		width: 100%;
	}
	.tag-line p {
		margin: 15px 0 0;
		font-size: 14px;
		padding: 0 15px;
	}
	.bupa-banner .banner-text h1 {
		font-size: 24px;
		line-height: 26px;
		margin-top: 10px;
	}
	.inner-why-us .why-heading p {
		width: 100%;
		margin: 0 auto 30px;
		font-size: 14px;
		text-align: center;
	}
	.inner-why-us .why-content img {
		margin-bottom: 15px;
	}
	.footer ul.number {
		margin-top: 15px;
	}
	.inner-page-text p {
		font-size: 16px;
	}
	.inner-page-content h5 {
		font-size: 18px;
	}
	.inner-page-content p {
		font-size: 16px;
	}
	.inner-page-image {
		margin-top: 15px;
	}
	.inner-pages-section {
		padding: 30px 0;
	} 
	.inner-page-text {
		padding: 30px 0;
	}
	.visa-text-box p {
		margin: 0;
		font-size: 16px;
	}
	/* 25June NIB page*/
	/* 26 page*/
	.getting-visa a.btn.btn-danger.institute-btn.getting-visa-btn {
		font-size: 16px;
	}
	.getting-visa h5 {
		font-size: 16px;
	}
	/* 26 page*/
 
}


@media (max-width:680px){
	ul.menu-card.tick {
		width: 48.8%;
	}	
	.visa-image-box img {
		width: 100%;
	}
	section.why-text {
		padding: 30px 0;
	}
	.footer ul.social-link li {
		font-size: 20px;
		padding: 3px 0px;
		height: 34px;
		width: 34px;
	}
	.footer ul.number li span {
		font-size: 16px;
	}
	.nav-text a {
		font-size: 14px;
	}
	.logo .navbar-toggler {
		float: right;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.quote-block {
		padding: 30px 0;
	}
	.get-quote-blog li {
		padding: 10px 20px;
		margin: 0px 0 10px;
		width: 100%;
	}
	.policy-table-block tr th {
		width: 100% !important;
		text-align: center;
		white-space: nowrap;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.get-quote-banner {
		padding: 30px 0;
	}
	.blue-row {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text-headings-link {
		margin-top: 10px;
	}
	.text-headings-link a{
		float: inherit !important;
	}
	.margin-b select.form-control {
		border-radius: 0;
		font-family: 'Nunito', sans-serif;
		margin: 0 0 15px 0px;
	}
	/* home-page Banner*/
	.banner-text h1 {
		font-size: 24px;
	}
	section.health-cover {
		padding: 30px 0;
	}
	.getting-visa {
		margin: 20px 0;
		width: 100%;
	}
	.institute-finder-form button.btn.institute-btn {
		padding: 6px 15px;
		font-size: 14px;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	.logo a.navbar-brand img {
		width: 150px;
	}
	/* bupa-page 25-June*/
	.bupa-banner .banner-text p {
		font-size: 14px;
	}
	section.tag-line {
		padding: 40px 0;
	}
	section.tag-line h4 {
		font-size: 18px;
		width: 100%;
	}
	.tag-line p {
		margin: 15px 0 0;
		font-size: 14px;
		padding: 0 15px;
	}
	.bupa-banner .banner-text h1 {
		font-size: 24px;
		line-height: 26px;
		margin-top: 10px;
	}
	.inner-why-us .why-heading p {
		width: 100%;
		margin: 0 auto 30px;
		font-size: 14px;
		text-align: center;
	}
	.inner-why-us .why-content img {
		margin-bottom: 15px;
	}
	.footer ul.number {
		margin-top: 15px;
	}
	.inner-page-text p {
		font-size: 16px;
		width: 100%;
	}
	.inner-page-content h5 {
		font-size: 18px;
	}
	.inner-page-content p {
		font-size: 16px;
	}
	.inner-page-image {
		margin-top: 15px;
	}
	.inner-pages-section {
		padding: 30px 0;
	}
	.inner-page-text {
		padding: 30px 0;
	}
	/* bupa-page 25-June*/
	.faq-text {
		padding: 30px 20px 0 !important;
	}
	.faq-image {
		padding: 0px 20px 30px !important;
	}
}	
@media (max-width:600px){
	/*17-jan-2020*/
	.banner-text.inner-banner-text h1 {
		font-size: 24px;
	}
	/*17-jan-2020*/
	.footer ul.social-link li {
		font-size: 20px;
		padding: 3px 0px;
		height: 34px;
		width: 34px;
	}
	.footer ul.number li span {
		font-size: 16px;
	}
	.nav-text a {
		font-size: 14px;
	}
	.logo .navbar-toggler {
		float: right;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.quote-block {
		padding: 30px 0;
	}
	.get-quote-blog li {
		padding: 10px 20px;
		margin: 0px 0 10px;
		width: 100%;
	}
	.policy-table-block tr th {
		width: 100% !important;
		text-align: center;
		white-space: nowrap;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.get-quote-banner {
		padding: 30px 0;
	}
	.blue-row {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text-headings-link {
		margin-top: 10px;
	}
	.text-headings-link a{
		float: inherit !important;
	}
	.margin-b select.form-control {
		border-radius: 0;
		font-family: 'Nunito', sans-serif;
		margin: 0 0 15px 0px;
	}
	/* home-page Banner*/
	.banner-text h1 {
		font-size: 24px;
	}
	section.health-cover {
		padding: 30px 0;
	}
	.getting-visa {
		margin: 20px 0;
		width: 100%;
	}
	.institute-finder-form button.btn.institute-btn {
		padding: 6px 15px;
		font-size: 14px;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	.logo a.navbar-brand img {
		width: 150px;
	}
	/* bupa-page 25-June*/
	.bupa-banner .banner-text p {
		font-size: 14px;
	}
	section.tag-line {
		padding: 40px 0;
	}
	section.tag-line h4 {
		font-size: 18px;
		width: 100%;
	}
	.tag-line p {
		margin: 15px 0 0;
		font-size: 14px;
		padding: 0 15px;
	}
	.bupa-banner .banner-text h1 {
		font-size: 24px;
		line-height: 26px;
		margin-top: 10px;
	}
	.inner-why-us .why-heading p {
		width: 100%;
		margin: 0 auto 30px;
		font-size: 14px;
		text-align: center;
	}
	.inner-why-us .why-content img {
		margin-bottom: 15px;
	}
	.footer ul.number {
		margin-top: 15px;
	}
	/* bupa-page 25-June*/
}

@media (max-width:576px){
	.visa-text-box p {
		margin: 0;
		font-size: 16px;
		line-height: 22px;
	}
	.visa-type .visa-text-box {
		padding-top: 10px;
		padding-bottom: 10px !important;
	}
}
@media (max-width:575px){
	.logo {
		box-shadow: -2px 2px 3px #0000004d;
	}
}
@media (max-width:480px){
   /* menu*/
	.footer ul.social-link li {
		font-size: 20px;
		padding: 3px 0px;
		height: 34px;
		width: 34px;
	}
	.footer ul.number li span {
		font-size: 16px;
	}
	.nav-text a {
		font-size: 14px;
	}
	.logo .navbar-toggler {
		float: right;
	}
	.logo {
		box-shadow: -2px 2px 3px #0000004d;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.quote-block {
		padding: 30px 0;
	}
	.get-quote-blog li {
		padding: 10px 20px;
		margin: 0px 0 10px;
		width: 100%;
	}
	.policy-table-block tr th {
		width: 100% !important;
		text-align: center;
		white-space: nowrap;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.get-quote-banner {
		padding: 30px 0;
	}
	.blue-row {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text-headings-link {
		margin-top: 10px;
	}
	.text-headings-link a{
		float: inherit !important;
	}
	.margin-b select.form-control {
		border-radius: 0;
		font-family: 'Nunito', sans-serif;
		margin: 0 0 15px 0px;
	}
	/* home-page Banner*/
	.banner-text h1 {
		font-size: 24px;
	}
	section.health-cover {
		padding: 30px 0;
	}
	.getting-visa {
		margin: 20px 0;
		width: 100%;
	}
	.institute-finder-form button.btn.institute-btn {
		padding: 6px 15px;
		font-size: 14px;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	.logo a.navbar-brand img {
		width: 150px;
	}
	/* bupa-page 25-June*/
	.bupa-banner .banner-text p {
		font-size: 14px;
	}
	section.tag-line {
		padding: 40px 0;
	}
	section.tag-line h4 {
		font-size: 18px;
		width: 100%;
	}
	.tag-line p {
		margin: 15px 0 0;
		font-size: 14px;
		padding: 0 15px;
	}
	.bupa-banner .banner-text h1 {
		font-size: 24px;
		line-height: 26px;
		margin-top: 10px;
	}
	.inner-why-us .why-heading p {
		width: 100%;
		margin: 0 auto 30px;
		font-size: 14px;
		text-align: center;
	}
	.inner-why-us .why-content img {
		margin-bottom: 15px;
	}
	.footer ul.number {
		margin-top: 15px;
	}
	/* bupa-page 25-June*/
	/* 25Nov home-page*/
	.home-visa-type-form-section {
		width: 90%;
		margin: 0 auto;
	}
	/* 25Nov home-page*/
}

@media (max-width:320px){
	.logo .navbar-toggler {
		float: right;
	}
	.logo {
		box-shadow: -2px 2px 3px #0000004d;
	}
	.nav-item a.nav-link {
		padding: 10px 4px !important;
		width: 100%;
	}
	.sub_menu_main.dropdown-menu {
		width: 100%;
	}
	.quote-block {
		padding: 30px 0;
	}
	.get-quote-blog li {
		padding: 10px 20px;
		margin: 0px 0 10px;
		width: 100%;
	}
	.policy-table-block tr th {
		width: 100% !important;
		text-align: center;
		white-space: nowrap;
	}
	.policy-table-block {
		width: 100%;
		overflow: scroll;
	}
	.get-quote-banner {
		padding: 30px 0;
	}
	.blue-row {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text-headings-link {
		margin-top: 10px;
	}
	.text-headings-link a{
		float: inherit !important;
	}
	.margin-b select.form-control {
		border-radius: 0;
		font-family: 'Nunito', sans-serif;
		margin: 0 0 15px 0px;
	}
	/* home-page Banner*/
	.banner-text h1 {
		font-size: 24px;
	}
	section.health-cover {
		padding: 30px 0;
	}
	.getting-visa {
		margin: 20px 0;   
		width: 100%;
	}
	.institute-finder-form button.btn.institute-btn {
		padding: 6px 15px;
		font-size: 14px;
	}
	.why-text h2 {
		font-size: 20px;
	}
	section.why-text p {
		width: 100%;
		text-align: justify;
	}
	.visa-text-box h5 {
		font-size: 20px;
		margin-top: 10px;
	}
	.visas-text-box h5{
		font-size: 20px;
		margin-top: 10px;
	}
	.visa-text-box {
		padding: 0 15px !important;
	}
	.col-lg-6.visas-image-box {
		padding: 0;
	}
	.visas-text-box {
		padding: 0px 15px !important;
	}
	section.why-us {
		padding: 30px 0px;
	}
	.why-us h2 {
		font-size: 20px;
	}
	.why-heading p {
		width: 100%;
		font-size: 16px;
		text-align: justify;
	}
	.choose-text.media-body {
		padding: 0px 0 0 15px;
	}
	.media.why-content {
		padding: 20px 15px 0px;
	}
	.col-lg-6.faq-text {
		background: #0873bb;
		padding: 30px 15px;
	}
	.faq-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.faq-text p {
		font-size: 16px;
	}
	.footer h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer p {
		font-size: 18px;
	}
	.footer ul.number li {
		font-size: 16px;
		padding: 0;
	}
	.footer p {
		width: 100%;
	}
	/* home-page Banner*/
	    /* 25June*/
	.visa-text-box p {
		margin: 0;
		font-size: 15px;
		padding: 0 0 10px;
	}	
	.visas-text-box p {
		font-size: 14px;
	}
	.choose-text p {
		font-size: 14px;
	}	
	.choose-text h5 {
		font-size: 16px;
	}
	.banner-text p {
		font-size: 18px;
	}
	.getting-visa a.btn.btn-danger.institute-btn.getting-visa-btn {
		font-size: 14px;
	} 
	.getting-visa h5 {
		font-size: 16px;
	}
	.faq-text p span {
		font-size: 16px;
	}
	.bupa-banner .banner-text h1 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 15px;
	}
    /* 25June*/
}
.dependent-del-btn button {
    float: right;
    margin: 10px 0 0px;
}